.Sidebar {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 4rem;
    transition: all 300ms ease;
  }
.Logo {
    display: flex;
    height: 5rem;
    font-weight: bold;
    font-size: 22px;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    height: 1%;
  }
.Logo>img{
    width: 6rem;
    height: 6rem;
  }
.Logo > span > span {
    color: var(--green);
  }
  /* menu */
  .menu {
    margin-top: 5rem;
    display: flex;
    margin-left: 1rem ;
    flex-direction: column;
    gap: 2rem;
  }
  .menuItem {
    display: flex;
    align-items: center;
    gap: 1rem;
    height: 2.5rem;
    margin-left: 2rem;
    position: relative;
    transition: all 300ms ease;
    border-radius: 0.7rem;
    font-size: 14px;
  }
.menuItem:hover{
    cursor:pointer;
  }

  .active{
    background: var(--activeItem);
    margin-left: 0;
  }
.active::before{
    content: '';
    width: 8px;
    height: 100%;
    background: var(--black);
    margin-right: calc(1rem - 8px);
}

.menu .menuItem:last-child{
  position: absolute;
  bottom: 2.3rem;
  width: 100%;
}
.nav-text {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: #0c0b0b;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}
span {
  margin-left: 7px;
}